<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>

<div  class="flex items-center justify-center flex-col gap-6 bg-gradient-to-bl from-black via-gray-800  to-gray-900 w-screen h-screen">
    <h1 class="text-4xl text-slate-200">Welcome To My Drive</h1>
    <form  action="/login">
        <button class="w-[17vw] bg-blue-600 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">Login</button>
    </form>
    <form  action="/register">
        <button class="w-[17vw] bg-blue-600 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">Signup</button>
    </form>
</div>

</body>
</html>